@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #2a9d8f;
  --secondary-color: #264653;
  --background-color: #f4f4f4;
  --text-color: #333;
  --font-family: 'Arial', sans-serif;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}